<button *ngIf="_showIcon" (click)="downloadFiles(loadingModalTemplate)" class="btn btn-xs btn-default" title="download files"
  [disabled]="isDisable">
  <span class="fa fa-download icon-medium"></span>
</button>

<button *ngIf="!_showIcon" (click)="downloadFiles(loadingModalTemplate)" class="btn btn-dark" title="download files" 
  [disabled]="isDisable">
  <span class="fa fa-download icon-medium"></span> Download Files 
</button>


<ng-template #loadingModalTemplate>
  <div class="modal-body">
    <div class="center">
      <h5>Creating tar file, please wait</h5>
      <i class="fa fa-spinner fa-spin icon-big"></i>
    </div>
  </div>
</ng-template>
