@import '../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';

/* You can add global styles to this file, and also import other style files */
.icon-big:before {
    font-size: 30px;
}

.icon-medium::before {
    font-size: 20px;
}

.icon-link {
    color:#bd5734;
}

.icon-red {
    color:red;
}

.icon-green {
    color: darkgreen;
}

.icon-yellow {
    color:darkgoldenrod;
}

.button-transparent {
    background-color: transparent;
}

.button-transparent:focus {
    outline: 0 !important;
    box-shadow: 0 0 0 0.0rem rgba(0,0,0,0) !important;
}

/* Set of new colors.*/
:color {
    --dark: #343a40;
}

/* Override popoover header style*/
.popover-header {
    background-color: var(--dark);
    color: white !important;
}

/* Override popoover body style*/
.popover-body {
    background-color: lightgrey;
}

/* Override popoover style*/
.popover {
    max-width: 100%;
}

/* Override ngx-pagination color's style. */
pagination li.page-item.active a.page-link  {
    background-color: var(--dark) !important;
    color: white !important;
    border-color: var(--dark) !important;
}

pagination li.page-item a.page-link  {
    color: var(--dark) !important;
}

.center{
    text-align: center;
}

table.table-dark.hover:hover {
    background-color: #343a40!important;
    color: white !important;
}

table.table-dark.hover>thead>tr:hover {
    background-color: #343a40 !important;
    color: white !important;
}

table.table-dark.hover>tbody>tr:hover {
    background-color: rgba(0, 0, 0, 0.2) !important;
    color: white !important;
}

table.table-dark>thead>tr {
    background-color: rgba(0, 0, 0, 1) !important;
    color: white !important;
}