<div class="page-header">
  <h3 style="font-weight: bold; text-align: center; padding-bottom: 1%;">Stations</h3>
</div>
<div class="container table-responsive">
  <google-chart #chart [data]="timelineChart" (chartSelect)="onSelectChart($event)" *ngIf="isDataLoaded"></google-chart>
</div>
<div class="d-flex justify-content-start navbar" id="header">
  <div>
    <a routerLink="/fdsn/create" class="btn btn-default" *ngIf="hasRight('RIGHT_FDSN_CREATE')" title="Create new Stations">
      <span class="fa fa-plus icon-big icon-link"></span>
    </a>
  </div>
  <div class="form-inline">
    <input [(ngModel)]="searchValue"
      [typeahead]="dataSource"
      (typeaheadLoading)="changeTypeaheadLoading($event)"
      (typeaheadOnSelect)="typeaheadOnSelect($event)"
      [typeaheadOptionsLimit]="10"
      typeaheadWaitMs="500"
      typeaheadOptionField="name"
      [typeaheadItemTemplate]="stationTypeaheadTemplate"
      placeholder="Network or Station name"
      class="form-control mr-sm-2">
  </div>
  <button class="btn btn-outline-dark my-2 my-sm-0" type="submit"
    (click)="searchStations('network_id, name', searchValue,'name, creation_date')" [disabled]="typeaheadLoading">
      <span *ngIf="typeaheadLoading" class="fa fa-spinner fa-spin"></span>
      <span *ngIf="!typeaheadLoading" class="fa fa-search"></span>
  </button>
</div>
<div class="table-responsive">
  <table class="table table-striped table-hover table-condensed">
    <thead>
      <tr>
        <th>Network</th>
        <th>Name</th>
        <th class="center">Location (lat, long)</th>
        <th class="center">Elevation (m)</th>
        <th class="center">Depth (m)</th>
        <th class="center">Create Date</th>
        <th class="center">Removal Date</th>
        <th class="center">Channels</th>
        <th class="center">Public Data</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let station of stations">
        <td>{{station.network_id}}</td>
        <td>{{station.name}}</td>
        <td class="center">{{station.latitude}}, {{station.longitude}}</td>
        <td class="center">{{station.elevation}}</td>
        <td class="center">{{station.depth}}</td>
        <td class="center">{{station.creation_date | date:'dd.MM.yyyy'}}</td>
        <td class="center">{{station.removal_date | date:'dd.MM.yyyy'}}</td>
        <td class="center">
          <a routerLink="/fdsn/channel/{{station.id}}" class="btn btn-xs btn-default" *ngIf="hasRight('RIGHT_FDSN_EDIT')" 
            title="channels {{station.channels.length}}">
            <span class="fa fa-sitemap icon-medium"></span>
          </a>
        </td>
        <td class="center">
          <button type="button" class="btn btn-xs btn-default" placement="left" container="body"
            [outsideClick]="true"
            [popoverContext]="station"
            adaptivePosition="true"
            popoverTitle="Location info"
            [popover]="popLocationTemplate">
            <span *ngIf="station.public_data" class="fa fa-globe icon-medium icon-green" title="Public"></span>
            <span *ngIf="!station.public_data" class="fa fa-globe icon-medium icon-red" title="Restrict"></span>
          </button>
        </td>
        <td>
          <div class="pull-right">
            <a routerLink="edit/{{station.id}}" class="btn btn-xs btn-default" *ngIf="hasRight('RIGHT_FDSN_EDIT')" title="edit">
              <span class="fa fa-pencil icon-medium"></span>
            </a>
            <button (click)="openDeleteModal(deleteModalTemplate, station)" class="btn btn-xs btn-default" 
              *ngIf="hasRight('RIGHT_FDSN_DELETE')" title="delete">
              <span class="fa fa-trash-o icon-medium"></span>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #popLocationTemplate 
  let-country="country"
  let-province="province"
  let-site="site"
  let-geology="geology">
  <div class="table-responsive">
    <table class="table table-dark table-bordered hover" id="infoTable" style="margin-bottom: 0%;">
      <thead>
        <tr>
          <th>Country</th>
          <th>Province</th>
          <th>Site</th>
          <th>Geology</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{country}}</td>
          <td>{{province}}</td>
          <td>{{site}}</td>
          <td>{{geology}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>

<ng-template [ngTemplateOutlet]="pagination"></ng-template>
  
<!-- Modal temples -->
<ng-template #deleteModalTemplate let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Delete station {{deleteStation?.name}}</h4>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete this station?</p>
    <p><strong>Create date: {{deleteStation?.creation_date | date:'dd.MM.yyyy'}}</strong></p>
    <p style="color:red"><strong>All channels belonging to this station will also be deleted!!</strong></p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="deleteStationFromModal()">Delete</button>
    <button type="button" class="btn btn-outline-dark" (click)="closeDeleteModal()">Cancel</button>
  </div>
</ng-template>

<ng-template #stationTypeaheadTemplate let-station="item">
  <span><i class="fa fa-bullseye" title="Network">:</i> {{station.network_id}} - 
    <i class="fa fa-cube" title="Station name">:</i> {{station.name}} - 
    <i class="fa fa-calendar-plus-o" title="Create at">:</i> {{ station.creation_date | date:'dd.MM.yyyy'}}</span>
</ng-template>
  
<ng-template #pagination>
  <div class="d-flex justify-content-end">
    <div class="p-2">
      <div class="btn-group" dropdown style="padding-right: 10px;">
          <button id="button-basic" dropdownToggle type="button" class="btn btn-dark dropdown-toggle"
          aria-controls="dropdown-basic">
          {{itemsPerPage}} <span class="caret"></span>
          </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
          role="menu" aria-labelledby="button-basic">
          <li role="menuitem"><button class="dropdown-item" (click)="itemsPerPageChanged(10)">10</button></li>
          <li role="menuitem"><button class="dropdown-item" (click)="itemsPerPageChanged(20)">20</button></li>
          <li role="menuitem"><button class="dropdown-item" (click)="itemsPerPageChanged(50)">50</button></li>
          <li role="menuitem"><button class="dropdown-item" (click)="itemsPerPageChanged(100)">100</button></li>
          </ul>
      </div>
    </div>
    <div class="p-2">
      <pagination [totalItems]="totalItems" [(ngModel)]="page" [itemsPerPage]="itemsPerPage"
      (pageChanged)="pageChanged($event)" [maxSize]=5
      [boundaryLinks]="true" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
      lastText="&raquo;">
      </pagination>
    </div>
  </div>
</ng-template>
  
