<div class="container">
  <div *ngIf="isLoaddingPage" style="text-align: center">
    <i class="fa fa-spinner fa-spin" style="font-size:300%"></i>
  </div>
</div>
  
<div *ngIf="!isLoaddingPage">
  <div style="text-align: center">
    <div class="row-justify" style="margin-top: 1%">
      <span class="fa fa-cube icon-big" title="Click for station info."
        popoverTitle="Station {{station?.name}}"
        placement="bottom"  
        [popover]="popStationInfoTemplate">
      </span>
      <span class="fa fa-microchip icon-big" title="Click for equipments info." style="margin-left: 1%"
        [outsideClick]="true"
        [popoverContext]="channel"
        adaptivePosition="true"
        containerClass="customClass"
        popoverTitle="Equipment Setup"
        [popover]="popEqInfoTemplate"
        placement="bottom">
      </span>
    </div>
    <div class="row-justify">
      <button type="button" class="btn btn-lg btn-default button-transparent" (click)="isChannelInfoCollapsed = !isChannelInfoCollapsed"
        [attr.aria-expanded]="!isChannelInfoCollapsed" aria-controls="collapseChannelInfo" 
        style="font-size: 150%;" title="Click to expand info about channel.">Files at Channel {{channel.name}}
        <span *ngIf="isChannelInfoCollapsed" class="fa fa-chevron-up icon-medium"></span>
        <span *ngIf="!isChannelInfoCollapsed" class="fa fa-chevron-down icon-medium"></span> 
      </button>
    </div>
    <div id="collapseChannelInfo" [collapse]="isChannelInfoCollapsed">
      <div style="margin-bottom: 0.5%">
        <span class="fa fa-globe" style="font-size: 130%; color: #515692" 
          title="Channel location"> {{channel.latitude}}, {{channel.longitude}} </span>
      </div>
      <div style="margin-bottom: 1%">
        <span class="fa fa-line-chart icon-medium" style="font-size: 130%; margin-left: 0.5%; color:#515692" 
          title="Gain/Sample rate"> {{channel.gain}} / {{channel.sample_rate}}
        </span>
      </div>
      <div  class="fa fa-calendar-plus-o" style="margin-right: 5%; font-size: 130%; color: darkgreen" 
        title="Channel created at"> {{ dateTimeToUTC(channel.start_time) | date:'dd.MM.yyyy - HH:mm:ss'}}
      </div>
      <div  class="fa fa-calendar-minus-o" style="font-size: 130%; color: darkred" 
        title="Channel removed at"> {{ dateTimeToUTC(channel.stop_time) | date:'dd.MM.yyyy - HH:mm:ss'}}
      </div>
    </div>
  </div>
  <div class="center" style="margin-top: 1%">
    <app-download-metadata [channel]=channel filename="{{station?.name}}-{{channel.name}}" [showIcon]="false"></app-download-metadata>
  </div>
  <div style="margin-top: 1%">
    <app-wrap-tl-google-chart [dataSet]="seismicData"></app-wrap-tl-google-chart>
  </div>
  <div class="d-flex justify-content-start navbar" id="header">
    <div class="form-inline">
      <input [(ngModel)]="searchValue"
        [typeahead]="dataSource"
        (typeaheadLoading)="changeTypeaheadLoading($event)"
        (typeaheadOnSelect)="typeaheadOnSelect($event)"
        [typeaheadOptionsLimit]="10"
        typeaheadWaitMs="500"
        typeaheadOptionField="filename"
        [typeaheadItemTemplate]="typeaheadTemplate"
        placeholder="Filename"
        class="form-control mr-sm-2">
    </div>
    <button class="btn btn-outline-dark my-2 my-sm-0" type="submit"
      (click)="searchFiles(searchValue)" [disabled]="typeaheadLoading">
        <span *ngIf="typeaheadLoading" class="fa fa-spinner fa-spin"></span>
        <span *ngIf="!typeaheadLoading" class="fa fa-search"></span>
    </button>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-hover table-condensed" id="dataTable">
      <thead>
        <tr>
          <th>Filename</th>
          <th class="center">Start time</th>
          <th class="center">Stop Time</th>
          <th class="center">Stored at</th>
          <th class="center">Tranferred File Info</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sd of seismicData">
          <td class="fa fa-file-o icon-medium" > {{sd.filename}}</td>
          <td class="center">{{ dateTimeToUTC(sd.start_time) | date:'dd.MM.yyyy - HH:mm:ss'}}</td>
          <td class="center">{{ dateTimeToUTC(sd.stop_time) | date:'dd.MM.yyyy - HH:mm:ss'}}</td>
          <td class="center">{{ sd.folder_path}}</td>
          <td class="center">
            <button type="button" class="btn btn-xs btn-default" title="click" placement="left"
              [outsideClick]="true"
              [popoverContext]="sd"
              adaptivePosition="true"
              containerClass="customClass"
              popoverTitle="Associated transferred files"
              [popover]="popOriginalFileTemplate"> 
              <span class="fa fa-hdd-o icon-medium"></span>
            </button>
          </td>
          <td>
            <div class="pull-right">
              <button (click)="openPlotModal(plotModalTemplate,sd)" class="btn btn-xs btn-default" title="plot">
                <span class="fa fa-line-chart icon-medium"></span>
              </button>
              <button (click)="downloadFile(sd)" class="btn btn-xs btn-default" title="download">
                <span class="fa fa-download icon-medium"></span>
              </button>
              <button *ngIf="hasRight('RIGHT_FDSN_DELETE')" (click)="openDeleteModal(deleteModalTemplate, sd)" class="btn btn-xs btn-default" 
                title="delete">
                <span class="fa fa-trash-o icon-medium"></span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template [ngTemplateOutlet]="pagination"></ng-template>
</div>
  
<ng-template #typeaheadTemplate let-data="item">
  <span><i class="fa fa-file-o" title="Channel name">:</i> {{data.filename}} - 
    <i class="fa fa-calendar-plus-o" title="Start at">:</i> {{ data.start_time | date:'dd.MM.yyyy - HH:mm:ss' : 'UTC'}}
  </span>
</ng-template>
    
<!-- Modal temples -->
<ng-template #deleteModalTemplate let-c="close" let-d="dismiss"  class="modal fade">
  <div class="modal-header">
    <h4 class="modal-title">Delete file {{deleteData?.filename}}</h4>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete this?</p>
    <p style="color: red">*The mseed file will be removed from storage!!</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="deleteDataFromModal()">Delete</button>
    <button type="button" class="btn btn-outline-dark" (click)="closeDeleteModal()">Cancel</button>
  </div>
</ng-template>
  
<ng-template #pagination>
  <div class="d-flex justify-content-end">
    <div class="p-2">
      <div class="btn-group" dropdown style="padding-right: 10px;">
          <button id="button-basic" dropdownToggle type="button" class="btn btn-dark dropdown-toggle"
          aria-controls="dropdown-basic">
          {{itemsPerPage}} <span class="caret"></span>
          </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
          role="menu" aria-labelledby="button-basic">
          <li role="menuitem"><button class="dropdown-item" (click)="itemsPerPageChanged(10)">10</button></li>
          <li role="menuitem"><button class="dropdown-item" (click)="itemsPerPageChanged(20)">20</button></li>
          <li role="menuitem"><button class="dropdown-item" (click)="itemsPerPageChanged(50)">50</button></li>
          <li role="menuitem"><button class="dropdown-item" (click)="itemsPerPageChanged(100)">100</button></li>
          </ul>
      </div>
    </div>
    <div class="p-2">
      <pagination [totalItems]="totalItems" [(ngModel)]="page" [itemsPerPage]="itemsPerPage"
      (pageChanged)="pageChanged($event)" [maxSize]=5
      [boundaryLinks]="true" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
      lastText="&raquo;">
      </pagination>
    </div>
  </div>
</ng-template>

<ng-template #popStationInfoTemplate>
  <div style="text-align: center">
    <div style="margin-bottom: 2%">
      <span class="fa fa-globe icon-medium" style="font-size: 130%; color: #515692" 
        title="Station location"> {{station?.latitude}}, {{station?.longitude}} </span>
    </div>
    <div  class="fa fa-calendar-plus-o icon-medium" style="margin-right: 1%; font-size: 130%; color: darkgreen" 
      title="Station created at"> {{station?.creation_date | date:'dd.MM.yyyy'}}</div>
    <div  class="fa fa-calendar-minus-o icon-medium" style="font-size: 130%; color: darkred" 
      title="Station removed at"> {{station?.removal_date | date:'dd.MM.yyyy'}}</div>
  </div>
</ng-template>

<ng-template #popEqInfoTemplate let-equipments="equipments">
  <div class="table-responsive">
    <table class="table table-dark table-bordered hover" id="infoTable" style="margin-bottom: 0%;">
      <thead>
        <tr>
          <th>Type</th>
          <th>Name</th>
          <th>Manufactory</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let eq of equipments">
          <td>{{eq.type}}</td>
          <td>{{eq.name}}</td>
          <td>{{eq.manufactory}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>

<ng-template #popOriginalFileTemplate let-files="files">
  <div class="table-responsive">
    <table class="table table-dark table-bordered hover" id="infoTable" style="margin-bottom: 0%;">
      <thead>
        <tr>
          <th>Filename</th>
          <th class="center">Status</th>
          <th class="center">Tansferred By</th>
          <th class="center">Tansferred at</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let file of files">
          <td>{{file.id}}</td>
          <td class="center">{{file.status_id}}</td>
          <td class="center">{{file.transferred_by}}</td>
          <td class="center">{{file.transferred_at | date:'dd.MM.yyyy'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>

<ng-template #plotModalTemplate let-c="close" let-d="dismiss"  class="modal fade">
  <div class="modal-header">
    <h4 class="modal-title">File {{plotSeismicData?.filename}}</h4>
  </div>
  <div class="modal-body">
    <div *ngIf="plotUrl == null" style="text-align: center">
      <h5>Loading, please wait.</h5> 
      <i class="fa fa-spinner fa-spin" style="font-size:300%"></i>
    </div>
    <div class="table-responsive center">
      <a *ngIf="plotUrl != null" target="_blank">
        <img [src]="plotUrl">
      </a>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="closePlotModal()">Close</button>
  </div>
</ng-template>
  
