<div class="container">
    <div *ngIf="isLoaddingPage" style="text-align: center">
      <i class="fa fa-spinner fa-spin" style="font-size:300%"></i>
    </div>
    <div *ngIf="!isLoaddingPage" style="text-align: center">
      <h2> Create Location at Station {{station.name}}</h2>
      <div style="margin-bottom: 2%">
        <span class="fa fa-globe" style="font-size: 130%; color: #515692" 
          title="Station location"> {{station.latitude}}, {{station.longitude}} </span>
      </div>
      <div  class="fa fa-calendar-plus-o" style="margin-right: 5%; font-size: 130%; color: darkgreen" 
        title="Station created at"> {{station.creation_date | date:'dd.MM.yyyy'}}</div>
      <div  class="fa fa-calendar-minus-o" style="font-size: 130%; color: darkred" 
        title="Station removed at"> {{station.removal_date | date:'dd.MM.yyyy'}}</div>
    </div>
    <hr>
    <div *ngIf="!isLoaddingPage">
    <form [formGroup]="locationFormGroup">
        <div class="form-row">
          <div class="form-group col-md-2">
            <label>Name</label>
            <input type="text" formControlName="name" class="form-control" 
                [ngClass]="{ 'is-invalid': locationControl.name.errors }" 
                placeholder="Name" />
            <div *ngIf="locationControl.name.errors" class="invalid-feedback">
              <div *ngIf="locationControl.name.errors.required">*required.</div>
              <div *ngIf="locationControl.name.errors.minlength">It must have 2 characters.</div>
              <div *ngIf="locationControl.name.errors.maxlength">It must have 2 characters.</div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-2">
            <label>Latitude (Deg)</label>
            <input type="number" min="-90" max="90" class="form-control" formControlName="latitude" 
            [ngClass]="{ 'is-invalid': locationControl.latitude.errors }">
            <div *ngIf="locationControl.latitude.errors" class="invalid-feedback">
              <div *ngIf="locationControl.latitude.errors.required">*required.</div>
              <div *ngIf="locationControl.latitude.errors.min">It must be bigger than -90 degrees.</div>
              <div *ngIf="locationControl.latitude.errors.max">It must be smaller than 90 degrees.</div>
              <div *ngIf="locationControl.latitude.errors.pattern">Must have at least 5 significant digits, i.e: 1.15234.</div>
            </div>
          </div>
          <div class="form-group col-md-2">
            <label>Longitude (Deg)</label>
            <input type="number" min="-180" max="180" formControlName="longitude" class="form-control" 
                [ngClass]="{ 'is-invalid': locationControl.longitude.errors }">
            <div *ngIf="locationControl.longitude.errors" class="invalid-feedback">
              <div *ngIf="locationControl.longitude.errors.required">*required.</div>
              <div *ngIf="locationControl.longitude.errors.min">It must be bigger than -180 degrees.</div>
              <div *ngIf="locationControl.longitude.errors.max">It must be smaller than 180 degrees.</div>
              <div *ngIf="locationControl.longitude.errors.pattern">Must have at least 5 significant digits, i.e: 1.15234.</div>
            </div>
          </div>
          <div class="form-group col-md-2">
            <label>Elevation (m)</label>
            <input type="number" step="10" formControlName="elevation" class="form-control" 
                [ngClass]="{ 'is-invalid': locationControl.elevation.errors }">
              <div class="invalid-feedback">*required.</div>
          </div>
          <div class="form-group col-md-2">
            <label>Depth (m)</label>
            <input type="number" min="0" formControlName="depth" class="form-control" 
                [ngClass]="{ 'is-invalid': locationControl.depth.errors }">
              <div class="invalid-feedback">*required.</div>
          </div>
        </div>
        <div class="form-group">
          <button type="button" [disabled]="locationControl.pending" class="btn btn-info" (click)="onSubmitLocation()">Save</button>
        </div>
      </form>
    </div>
</div>
