<div class="container">
  <div *ngIf="isLoaddingPage" style="text-align: center">
    <i class="fa fa-spinner fa-spin" style="font-size:300%"></i>
  </div>
</div>

<div *ngIf="!isLoaddingPage">
  <div class="table-responsive">
    <table class="table table-striped table-hover table-condensed" id="dirTable">
      <thead>
        <tr>
          <th>Folder (NW.ST.SR.CH)</th>
          <th class="center">Files</th>
          <th class="center">Transfer</th>
          <th class="center">Progress</th>
          <th class="center">Transfer Info</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dir of showDirs">
          <td>{{formatPath(dir.path)}}</td>
          <td class="center">
            <a  routerLink="files/{{formatPath(dir.path)}}" class="btn btn-xs btn-default" 
              title="{{dir.number_of_mseed_files}} files.">
              <span class="fa fa-folder-open icon-medium text-shadow"></span>
            </a>
          </td>
          <td class="center">
            <button  (click)="openTransferModal(transferModalTemplate, dir, progressEvent)" class="btn btn-xs btn-default" title="delete" 
              title="Transfer all files to database." [disabled]="dir.isTransfering">
              <span *ngIf="dir.isTransfering" class="fa fa-spinner fa-spin	icon-medium"></span>
              <span *ngIf="!dir.isTransfering && !dir.status" class="fa fa-database	icon-medium text-shadow"></span>
              <span *ngIf="!dir.isTransfering && dir.status === 'Ok'" class="fa fa-database	icon-medium icon-green text-shadow"></span>
              <span *ngIf="!dir.isTransfering && dir.status === 'Warning'" class="fa fa-database icon-medium icon-yellow text-shadow"></span>
              <span *ngIf="!dir.isTransfering && dir.status === 'Error'" class="fa fa-database	icon-medium icon-red text-shadow"></span>
            </button>
          </td>
          <td class="center">
            <app-progress-event #progressEvent></app-progress-event>
          </td>
          <td class="center">
            <button  (click)="openTransferStatusModal(TransferStatusModalTemplate, dir)" class="btn btn-xs btn-default" title="delete" 
              title="transfer status." [disabled]="dir.isTransfering || !dir.transferResults">
              <span *ngIf="dir.isTransfering" class="fa fa-spinner fa-spin	icon-medium"></span>
              <span *ngIf="!dir.isTransfering && !dir.status" class="fa fa-info	icon-medium text-shadow"></span>
              <span *ngIf="!dir.isTransfering && dir.status === 'Ok'" class="fa fa-info	icon-medium icon-green text-shadow"></span>
              <span *ngIf="!dir.isTransfering && dir.status === 'Warning'" class="fa fa-info	icon-medium icon-yellow text-shadow"></span>
              <span *ngIf="!dir.isTransfering && dir.status === 'Error'" class="fa fa-info	icon-medium icon-red text-shadow"></span>
            </button>
          </td>
          <td>
            <div class="pull-right">
              <button (click)="openDeleteModal(deleteModalTemplate, dir)" class="btn btn-xs btn-default" title="delete">
                <span class="fa fa-trash-o icon-medium text-shadow"></span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template [ngTemplateOutlet]="pagination"></ng-template>
</div>

<ng-template #stationTypeaheadTemplate let-station="item">
  <span><i class="fa fa-bullseye" title="Network">:</i> {{station.network_id}} - 
    <i class="fa fa-cube" title="Station name">:</i> {{station.name}} - 
    <i class="fa fa-calendar-plus-o" title="Create at">:</i> {{ station.creation_date | date:'dd.MM.yyyy'}}
  </span>
</ng-template>

<ng-template #channelTypeaheadTemplate let-channel="item">
  <span><i class="fa fa-cube" title="Channel name">:</i> {{channel.name}} - 
    <i class="fa fa-calendar-plus-o" title="Start at">:</i> {{ channel.start_time | date:'dd.MM.yyyy - HH:mm:ss' : 'UTC'}}
  </span>
</ng-template>
  
<!-- Modal temples -->
<ng-template #deleteModalTemplate let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Delete folder at {{deleteDir?.path}}</h4>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete this?</p>
    <p style="color: red">*All files inside this folder will be removed!!</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-dark btn-shadow" (click)="deleteDirFromModal()">Delete</button>
    <button type="button" class="btn btn-danger btn-shadow" (click)="closeDeleteModal()">Cancel</button>
  </div>
</ng-template>

<ng-template #pagination>
  <div class="d-flex justify-content-end">
    <div class="p-2">
      <div class="btn-group" dropdown style="padding-right: 10px;">
          <button id="button-basic" dropdownToggle type="button" class="btn btn-dark dropdown-toggle"
          aria-controls="dropdown-basic">
          {{itemsPerPage}} <span class="caret"></span>
          </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
          role="menu" aria-labelledby="button-basic">
          <li role="menuitem"><button class="dropdown-item" (click)="itemsPerPageChanged(10)">10</button></li>
          <li role="menuitem"><button class="dropdown-item" (click)="itemsPerPageChanged(20)">20</button></li>
          <li role="menuitem"><button class="dropdown-item" (click)="itemsPerPageChanged(50)">50</button></li>
          <li role="menuitem"><button class="dropdown-item" (click)="itemsPerPageChanged(100)">100</button></li>
          </ul>
      </div>
    </div>
    <div class="p-2">
      <pagination [totalItems]="totalItems" [(ngModel)]="page" [itemsPerPage]="itemsPerPage"
      (pageChanged)="pageChanged($event)" [maxSize]=5
      [boundaryLinks]="true" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
      lastText="&raquo;">
      </pagination>
    </div>
  </div>
</ng-template>

<!-- Modal temples -->
<ng-template #TransferStatusModalTemplate let-c="close" let-d="dismiss" class="modal fade">
  <div class="modal-header">
    <h5 class="modal-title pull-left">File transfer Status at {{formatPath(selectedDir?.path)}}</h5>
    <h5 class="modal-title pull-right">Files processed: {{selectedDir?.transferResults.length}}</h5>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="filter">Filter</label>
      <select class="form-control col-md-2" [(ngModel)]="transferStatusFilter" id="filter">
        <option selected value="">None</option>
        <option value="Ok">Transferred</option>
        <option value="Warning">Fail</option>
        <option value="Error">Errors</option>
      </select>
    </div>
    <div *ngFor= "let result of selectedDir?.transferResults">
      <alert *ngIf="(!result.error && result.status === 'Ok') && (transferStatusFilter ==='' || transferStatusFilter === 'Ok')" 
        type="info">File {{result.file_name}} was transferred.
      </alert>
      <alert *ngIf="(!result.error && result.status !== 'Ok') && (transferStatusFilter ==='' || transferStatusFilter === 'Warning')" 
        type="warning">{{result.status}}
      </alert>
      <alert *ngIf="(result.error) && (transferStatusFilter === '' || transferStatusFilter === 'Error')" 
        type="danger">{{result.error}}
      </alert>
    </div>
  </div>
</ng-template>

<ng-template #transferModalTemplate let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Transfer files from folder {{formatPath(selectedDir?.path)}} to</h4>
  </div>
  <div class="modal-body">
    <form [formGroup]="transferForm">
      <div class="form-row">
        <div class="form-group col-md-2">
          <label>Select a station</label>
          <div class="form-inline">
            <input [ngClass]="{ 'is-invalid': transferControl.station.errors }"
              formControlName="searchStation"
              [typeahead]="stationsDataSource"
              (typeaheadLoading)="changeStationLoading($event)"
              (typeaheadOnSelect)="onSelectStation($event)"
              [typeaheadOptionsLimit]="1000"
              [typeaheadMinLength]="1"
              typeaheadWaitMs="500"
              typeaheadOptionField="name"
              [typeaheadItemTemplate]="stationTypeaheadTemplate"
              placeholder="Network or Station name"
              class="form-control mr-sm-2">
            <div class="invalid-feedback">*required.</div>
          </div>
        </div>
      </div>
      <div *ngIf="!transferControl.station.errors" class="form-row">
        <div class="form-group col-md-2">
          <label>Select a channel</label>
          <div class="form-inline">
            <input [ngClass]="{ 'is-invalid': transferControl.channel.errors }"
              formControlName="searchChannel"
              [typeahead]="channelDataSource"
              (typeaheadLoading)="changeChannelLoading($event)"
              (typeaheadOnSelect)="onSelectChannel($event)"
              [typeaheadOptionsLimit]="1000"
              [typeaheadMinLength]="0"
              typeaheadWaitMs="500"
              typeaheadOptionField="name"
              [typeaheadItemTemplate]="channelTypeaheadTemplate"
              placeholder="Channel name"
              class="form-control mr-sm-2">
            <div class="invalid-feedback">*required.</div>
          </div>
        </div>
      </div>
    </form>
    <div *ngIf="!transferControl.channel.errors">
      <ng-template *ngTemplateOutlet="channelInfo; context:{channel: transferControl.channel.value}"></ng-template>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" [disabled]="transferControl.pending" class="btn btn-info btn-shadow" (click)="onSubmitTransfer()">Transfer</button>
    <button type="button" class="btn btn-outline-dark btn-shadow" (click)="closeTransferModal()">Cancel</button>
  </div>
</ng-template>

<ng-template #channelInfo let-ch="channel">
    <h2> Info:</h2>
    <app-wrap-tl-google-chart height=100 [dataSet]="[ch]"></app-wrap-tl-google-chart>
    <div  class="fa fa-calendar-plus-o icon-medium" style="margin-right: 5%; color: darkgreen" 
      title="Channel start at"> {{dateTimeToUTC(ch.start_time) | date:'dd.MM.yyyy - HH:mm:ss'}}</div>
    <div  class="fa fa-calendar-minus-o icon-medium" style="color: darkred" 
      title="Channel stop at"> {{dateTimeToUTC(ch.stop_time) | date:'dd.MM.yyyy - HH:mm:ss'}}</div>
    <div>
      <span class="fa fa-globe icon-medium" style="color: #515692" 
        title="Channel location"> {{ch.latitude}}, {{ch.longitude}} </span>
    </div>
    <div *ngFor="let eq of ch.equipments">
      <div class="fa fa-microchip icon-medium" style="color: #515692" title="Equipments"> {{eq.type}} : {{eq.name}}</div>
    </div>
    <div class="fa fa-line-chart icon-medium" style="color:#515692" title="Gain/Sample rate"> {{ch.gain}} / {{ch.sample_rate}}</div>
</ng-template>
